/* Responsive Styles */
@media screen and (orientation: landscape) and (max-device-width: 2500px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) {
  .right-half {
    margin-left: 50%;
  }
  
  .left-half {
    width: 50%;
    margin-left: 0px;
  }

  .contentstyle {
    max-width: 85%;
    font-size: 13.5px;
    padding: 5px;
  }

  .content {
    margin-left: 20%;
    padding: 60px 30px 30px 0px;
  }

  .summary {
    max-width: 85%;
    font-size: 14px;
  }

  .left-half nav a {
    margin: 10px 0 8px 0;
  }

  #animated-background {
    --blur-factor: 0.8;
    --zoom-level: 0.6;
  }
}

@media (max-width: 900px) {
  .cursor-glow {
    box-shadow: none;
    border: none;
  }

  #social {
    text-align: left;
    position: relative;
    padding-top: 40px;
    padding-bottom: 0px;
    -webkit-tap-highlight-color: transparent;
  }

  .content {
    margin-left: 0%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: auto;
    margin: 0 auto;
    box-sizing: border-box;
  }

  .left-half {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    box-sizing: border-box;
    padding: 0;
    margin: 0 auto;
    background: none;
  }

  #navn1 {
    display: flex;
    justify-content: center;
    align-items: center;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    z-index: 2;
    padding: 12px;
    position: fixed !important;
    background-color: rgba(12, 21, 51, 0.84);
    border-radius: 20px;
    margin-bottom: 20px;
    border: 0.1px solid rgba(255, 255, 255, 0.1);
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
    opacity: 1;
  }

  #navn1.hidden {
    transform: translate(-50%, 100%);
    opacity: 0;
  }

  #navn1 a {
    color: white;
    margin: -4px 10px;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    transition: transform 0.3s ease;
    text-align: center;
  }

  #navn1 img {
    width: 25px;
    filter: invert(1);
    -webkit-tap-highlight-color: transparent;
    transition: transform 0.3s ease;
    margin-bottom: -10px;
    padding-bottom: 8px;
  }

  .nav-text {
    display: inline;
    color: white;
    font-size: 10px;
    transition: font-size 0.3s ease;
  }

  #navn1 a.active-nav-item {
    transform: scale(1.05);
    opacity: 0.8;
  }

  .left-half nav {
    display: none;
  }

  .right-half {
    width: calc(100% - 20px);
    padding: 10px;
    font-size: 14px;
    text-align: left;
    margin-left: 0%;
  }

  .left-half nav a {
    margin: 10px 0 8px 0;
    background: none;
  }

  .box a {
    font-size: 18px;
    margin-top: 0px;
  }

  .icon {
    font-size: 25px;
  }

  footer {
    padding-bottom: 70px;
    padding-left: 25px;
  }

  .contentstyle {
    max-width: 100%;
    margin: 40px;
  }

  .summary {
    max-width: 100%;
    padding: 40px;
  }

  .heading {
    padding-left: 40px;
  }

  .card {
    max-width: 100%;
    text-align: center;
    height: auto;
    margin: auto;
    padding: 20px;
    box-sizing: border-box;
    width: 100%;
  }

  #soctitle {
    display: none;
  }

  #social {
    padding-top: 0px;
  }
}

@media (max-width: 637px) {
  html {
    overflow: scroll;
  }

  body {
    background: radial-gradient(circle, #0051ff 14%, #29457b, #204579, #2b2f35);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
    height: 100vh;
    z-index: -1;
    animation: fadeInAnimation ease 2.3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    height: 100%;
    overflow: auto;
    scroll-behavior: smooth;
  }

  .right-half {
    width: 100%;
    margin: 0;
    padding: 10px;
    font-size: 14px;
    text-align: left;
    box-sizing: border-box;
  }

  .contentstyle {
    width: 100%;
    max-width: 88%;
    margin: 0 auto 35px auto;
    box-sizing: border-box;
  }

  .left-half {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
    padding: 0;
    margin: 0 auto;
    max-width: 100%;
  }

  .summary {
    max-width: 100%;
    font-size: 14px;
    padding-top: 0px;
    padding: 25px;
  }

  .nav-text {
    font-size: 8px;
  }

  #title {
    font-size: 18px;
  }

  .cursor-glow {
    display: none;
  }

  #social {
    text-align: center;
    position: relative;
    padding-top: 30px;
    padding-bottom: 0px;
    font-size: 13px;
    -webkit-tap-highlight-color: transparent;
    padding: 14px;
  }

  #soctitle {
    display: none;
  }

  .content {
    padding: 14px;
    text-align: center;
    margin: 0;
  }

  #home {
    flex-direction: column;
    overflow: hidden;
  }

  .card {
    max-width: 100%;
    text-align: center;
    height: auto;
    margin: auto;
    padding: 20px;
    box-sizing: border-box;
    width: 100%;
  }

  .left-half nav a {
    width: 35%;
    padding: 5px;
    background: none;
  }

  #navn1 img {
    width: 25px;
    filter: invert(1);
    -webkit-tap-highlight-color: transparent;
    padding-bottom: 5px;
  }

  #navn1 {
    margin-bottom: 15px;
    -webkit-tap-highlight-color: transparent;
  }

  #images {
    max-width: 38%;
  }

  #name {
    font-size: 1.5rem;
    letter-spacing: -1px;
    margin-top: 25px;
  }

  .subheading {
    font-size: 1rem;
    font-weight: 500;
    text-align: left;
    padding-left: 15px;
  }

  .left-half navn1 a:hover {
    opacity: 0.5;
  }

  .contentstyle:hover {
    background-color: rgba(255, 255, 255, 0.23);
    border-radius: 10px;
  }

  .heading {
    text-decoration-thickness: 1px;
    padding-bottom: 0px;
    text-align: center;
    padding-right: 40px;
    display: flex;
    justify-content: center;
  }

  .right-side-content {
    padding: 10px;
    padding-top: 0;
  }

  .contentstyle.visible {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Safari minimal fix */
@media screen and (min-color-index:0) and(-webkit-min-device-pixel-ratio:0) { 
  @media {
    .left-half {
      transform: translateZ(0);
    }
  }
} 