/* Animation and Effects Styles */
#animated-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -2;
  background-color: white;
}

#glass-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  background: rgba(0, 0, 0, 0.1);
}

.cursor-glow {
  width: 500px;
  height: 500px;
  border-radius: 30%;
  position: absolute;
  pointer-events: none;
  background-color: transparent;
  background-image: radial-gradient(circle, rgb(255 255 255 / 5%) 0%, transparent 70%);
  transform: translate(-50%, -50%);
  transition: width 0.2s, height 0.2s, box-shadow 0.2s, border-radius 0.2s, background-color 0.2s;
  z-index: 1;
}

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: black;
  z-index: 9999;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.3s ease-out;
}

.preloader-finish {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

/* Gradient Animation */
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* Fade In Animation */
@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Heading Highlight Animation */
@keyframes highlightHeading {
  0% {
    color: #a0a0a0;
  }
  50% {
    color: #ffffff;
  }
  100% {
    color: #a0a0a0;
  }
}

.heading.highlight {
  animation: highlightHeading 0.5s ease-in-out 3;
} 