/* Card and Content Box Styles */
.card {
  max-width: 100%;
  margin: 0;
  text-align: left;
  height: auto;
  width: 100%;
}

.contentstyle {
  padding: 10px;
  line-height: 1.6;
  margin-bottom: 35px;
  z-index: 1;
  background-color: rgb(255 255 255 / 13%);
  border-radius: 10px;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out, background-color 0.3s ease;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.05);
  max-width: 55%;
  border: 0.1px solid rgba(255, 255, 255, 0.3);
  font-size: 13px;
}

.contentstyle.visible {
  opacity: 1;
  transform: translateY(0) scale(1);
}

.contentstyle:hover {
  background-color: rgba(255, 255, 255, 0.2);
  transform: translateY(-5px);
}

.contentstyle p {
  font-weight: 400;
  text-align: left;
  padding: 5px 19px 0 20px;
  letter-spacing: 0.3px;
}

/* Arrow Icon */
.arrow-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 18px;
  color: #ffffff;
  transition: transform 0.3s ease;
  opacity: 0.7;
}

.contentstyle:hover .arrow-icon {
  transform: scale(1.1);
  opacity: 1;
}

/* Box Styles */
.box {
  margin: 20px;
  background-color: rgb(255 255 255 / 15%);
  font-size: 30px;
  transition: 0.5s;
}

.box:hover {
  cursor: pointer;
  background-color: #13365a;
}

.box a {
  font-size: 18px;
  margin-left: 10px;
  font-weight: 500;
  padding-top: 3px;
  padding-right: 15px;
  padding-bottom: 10px;
  text-align: left;
  color: #ffffff;
}

/* Utility Classes */
.clickable {
  cursor: pointer;
} 