body{

	margin:0;
	background-image: url("https://images.pexels.com/photos/1587/blurred-background.jpg?auto=compress&cs=tinysrgb&h=750&w=1260");
	background-repeat:no-repeat;
	background-size:cover;
	margin:0;
	color: white;
	width: 100%;
	}
	
*{

	box-sizing:border-box;
}

@font-face {
    font-family: header;
    src: url("../fonts/title.otf");
}


.title5{
	
	font-family: header;
	font-size: 25px;
	border-bottom: 2px solid white;
	line-height: 2;
	letter-spacing: 2;
	margin-bottom: 10px;
	margin-left: 5px;
}



#contact{
	
	margin-top: 5%;
	padding-left: 3%;
	padding-right: 3%;
}



input[type=text], select {
	
	width: 100%;
	background-color: rgba(0, 0, 0,0.4);
	padding: 15px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 0px solid #ccc;
	border-radius: 10px;
	box-sizing: border-box;
	color: white;
	margin-top: 1.5%;
}


input[type=text]:hover {

	background-color: rgba(0, 0, 0,0.35);
}


input[type=submit] {
	
	width: 150px;
	background-color: #2f8ae0;
	border-radius: 10px;
	color: white;
	padding: 16px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	font-family: Franklin Gothic;
	font-size: 16px;
	margin-top: 2%;
}

input[type=submit]:hover{
	
	background-color: #246bad;	
}



::placeholder {
	
	color: white;
	opacity: 1;
	font-family: Franklin Gothic;
	font-size: 16px;	
}


input[type=password] {
	
	width: 100%;
	background-color: rgba(0, 0, 0,0.4);
	padding: 15px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 0px solid #ccc;
	border-radius: 10px;
	box-sizing: border-box;
	color: white;
	
	margin-top: 1.5%;
}






























@media screen and (max-width: 1024px) {
	
.title5{

	text-align: center;
}

#contact{
	
	margin-top: 5%;
	padding-left: 3%;
	padding-right: 3%;
}



input[type=text], select {
	
	width: 100%;
	background-color: rgba(0, 0, 0,0.4);
	padding: 15px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 0px solid #ccc;
	border-radius: 10px;
	box-sizing: border-box;
	color: white;	
	margin-top: 5%;
}


input[type=password] {
	
	width: 100%;
	background-color: rgba(0, 0, 0,0.4);
	padding: 15px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 0px solid #ccc;
	border-radius: 10px;
	box-sizing: border-box;
	color: white;	
	margin-top: 5%;
}


input[type=text]:hover {

	background-color: rgba(0, 0, 0,0.35);
}


input[type=submit] {
	
	width: 150px;
	background-color: #2f8ae0;
	border-radius: 10px;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	font-family: Franklin Gothic;
	font-size: 16px;
	margin-top: 5%;
}


	
									 }