html{
    scroll-behavior: smooth;
}

body {
    background: radial-gradient(circle, #161616 14%, #0144c1, hsl(0deg 0% 5.66%));
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
    height: 100vh;
    z-index: -1; /* Place the background behind the content */
    overscroll-behavior: none; /* Disable overscroll behavior */
    touch-action: pan-y; /* Disable touch gestures that can move the content */
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch; /* enables “momentum” (smooth) scrolling */
    animation: fadeInAnimation ease 2.3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}


 
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
        height: 0vh;
    }
    100% {
        opacity: 1;
        height: 100vh;
     }
}

.container {
    display: flex;
    overflow-x: hidden;
}


.left-half {
    font-family: 'Libre Franklin', sans-serif;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    text-align: center;
    padding: 20px;
    padding-left: 40px;
    color: #fff;
    width: 38%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}


#images{
	border-radius: 500px;
    filter: saturate(120%);
}

#social{
    text-align: left;
    padding-top: 50px;
    margin-left: 10px;
    position: absolute;
    bottom: 0px;
    padding-bottom: 70px;
}

#loc{
    margin-left: -8px;
}

.card {
	font-family: 'Libre Franklin', sans-serif;
	font-weight: 600;
	max-width: 100%;
	margin: auto;
	text-align: left;
	height: auto;
	width: 100%;
    background: none;
  }
  
.content {
    max-width: 150%;
	border-radius: 10px;
	padding: 20px;
    height: 93%;
    margin-top: 0px;
}

.content .fa{

    margin-right: 10px;
}


.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: white;
    padding-left: 10px;
    transition: 0.2s;
}

.fa:hover {
    opacity: 0.7;
}


#name {
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 700;
    font-size: 2.5rem;
    text-align: left;
}

.title {
	font-family: 'Libre Franklin', sans-serif;
	color: #e6e6e6;
	font-size: 20px;
}

.left-half nav {
    text-align: left;
    padding-left: 20px;
}

.left-half nav a {
    display: block;
    margin: 10px 0;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    text-align: left;
    padding-top: 15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 10px;
    width: 30%;
    transition: opacity 0.3s ease, padding-left 0.3s ease;
    padding-left: 0;
}

.left-half nav a:hover {
    opacity: 0.5;
    padding-left: 50px;
}

.icon{
    color: rgb(255, 255, 255);
}

.right-half {
    font-family: 'Libre Franklin', sans-serif;
    flex: 1;
    background-size: cover;
    text-align: right;
    color: #ffffff;
    padding: 20px;
    min-height: 100vh;
    overflow-y: auto;
    padding-left: 43%;
}

.heading{
    font-size: 30px;
    padding-bottom: 5px;
    padding-top: 40px;
    padding-left: 15px;
    padding-right: 15px;
    font-weight: 600;
    text-align: left;
    color: white;
}

.header{
    font-size: 20px;
    padding-top: 20px;
    padding-right: 15px;
    padding-left: 15px;
    font-weight: 500;
    text-align: left;
    color: #ffffff;
}

li{
    font-size: 15px;
    font-weight: 200;
    padding-top: 1px;
    padding-right: 15px;
    padding-bottom: 10px;
    text-align: left;
    color: #ffffff;
}

.sectiontitle{
    padding-bottom: 10px;
    margin-bottom: 15px;
    z-index: -1;
}


.contentstyle{
    padding: 10px;
    margin-bottom: 35px;
    z-index: -1;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px) saturate(100%);
    -webkit-backdrop-filter: blur(15px) saturate(100%);
    border-radius: 10px;
}

.contentstyle:hover{
    background-color: rgba(255, 255, 255, 0.151);
    border-radius: 10px;
    backdrop-filter: blur(15px) saturate(100%);
    -webkit-backdrop-filter: blur(15px) saturate(100%);
}





.responsivegrid {
    min-height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.responsivegrid div {
    display: flex; 
    flex-basis: calc(50% - 40px);
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
}

.responsivegrid div div {
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: 20px;
}

.fa{
    margin-top: 5px;
}


.box {
    margin: 20px;
    background-color: rgba(255, 255, 255, 0.281);
    font-size: 30px;
    transition: 0.3s;
}

.box:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.438);
}

.box a{
    font-family: 'Libre Franklin', sans-serif;
    font-size: 23px;
    margin-left: 10px;
    font-weight: 500;
    padding-top: 3px;
    padding-right: 15px;
    padding-bottom: 10px;
    text-align: left;
    color: #ffffff;
}





@media (max-width: 1084px) {

    #social{
        text-align: left;
        margin-left: 10px;
        position: relative;
        padding-top: 10px;
        padding-bottom: 0px;
    }

    .content{
        margin-left: 0%;
    }
    .container {
        flex-direction: column;
        overflow: hidden;
    }

    .left-half {
        position: relative;
        width: 100%;
        text-align: center;
        overflow: hidden;
        padding-top: 0px;
        padding-left: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
        background: none;
    }

    .left-half nav a {
        width: 35%;
        padding: 5px;
    }

    #name {
        font-family: 'Libre Franklin', sans-serif;
        font-size: 3rem;
        text-align: left;
    }

    .title{
        font-size: 25px;
    }
    
    .heading{
        padding-left: 15px;
        padding-top: 20px;
    }

    .header{
        padding-left: 15px;
    }

    .subheading {
        font-family: 'Libre Franklin', sans-serif;
        font-size: 1rem;
        font-weight: 500;
        text-align: left;
        padding-left: 15px;
    }



    .right-half {
        width: 100%;
        background-attachment: scroll;
        width: calc(100% - 20px); /* Consider padding in the width */
        padding: 10px; /* Reduce padding for mobile */
        font-size: 14px; /* Adjust font size for mobile */
        text-align: left; /* Left align text on mobile */
    }

    .contentstyle{
        background-color: rgb(255 255 255 / 30%);
        border-radius: 10px;
    }

    .box{
        width: 12%;
        font-size: 25px;
    }

    .box a{
        margin-top: 5px;
        font-size: 17px;
    }
    
    .fa, .fa-brands, .fa-classic, .fa-regular, .fa-sharp, .fa-solid, .fab, .far, .fas {
        padding-top: 5px;
        padding-left: 10px;
    }

}




/* Media query for mobile devices */
@media (max-width: 500px) {
    .title{
        font-size: 18px;
    }

    #social{
        text-align: left;
        margin-left: 10px;
        position: relative;
        padding-top: 10px;
        padding-bottom: 0px;
    }

    .content{
        margin-left: 0%;
    }
    .container {
        flex-direction: column;
        overflow: hidden; /* Prevent content overflow in the container */
    }

    .left-half {
        position: relative;
        width: 100%;
        text-align: center; /* Center align text on mobile */
        overflow: hidden; /* Prevent content overflow */   
        padding-top: 0px;
        padding-left: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
        background: none;
    }

    .left-half nav a {
        width: 35%;
        padding: 5px;
    }

    #images{
        max-width: 38%;
    }

    #name {
        font-family: 'Libre Franklin', sans-serif;
        text-align: left; /* Center align the name */
        font-size: 1.5rem;
    }
    
    .heading{
        padding-left: 15px;
    }

    .header{
        padding-left: 15px;
    }

    .subheading {
        font-family: 'Libre Franklin', sans-serif;
        font-size: 1rem;
        font-weight: 500;
        text-align: left;
        padding-left: 15px;
    }



    .right-half {
        width: 100%;
        margin-top: 0px;
        background-attachment: scroll;
        width: calc(100% - 20px);
        padding: 10px;
        padding-top: 0px;
        font-size: 14px;
        text-align: left;
    }

    .contentstyle{
        background-color: rgba(255, 255, 255, 0.23);
        border-radius: 10px;
        backdrop-filter: blur(15px) saturate(100%);
        -webkit-backdrop-filter: blur(15px) saturate(100%);
    }

    .box{
        width: 12%;
        font-size: 25px;
    }

    .box a{
        margin-top: 5px;
        font-size: 17px;
    }
    
    .fa, .fa-brands, .fa-classic, .fa-regular, .fa-sharp, .fa-solid, .fab, .far, .fas {
        padding-top: 5px;
        padding-left: 10px;
    }
}